#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.

snippet ii "int(input())"
int(input())
endsnippet

snippet iis "map(int, input().split())"
map(int, input().split())
endsnippet

snippet liis "map(int, input().split())"
list(map(int, input().split()))
endsnippet
